.containerPokemonCard {
  display: flex;
  box-shadow: 4px 4px 4px 0px rgba(33, 33, 33, 0.1);
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #c8ff00;
  margin-top: 36px;
  width: 900px;
  margin-bottom: 24px;
  transition: transform 0.5s ease;
}

.containerPokemonCard:hover {
  transform: translateY(-20px);
  cursor: pointer;
}

.infoPokemonCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.infoPokemonCard span {
  color: #212121;
  text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
  font-size: 64px;
  font-weight: 700;
  text-transform: capitalize;
}

.containerStatusPokemonCard {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.statusPokemonCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statusPokemonCard p {
  padding: 24px;
  font-size: 48px;
  border: 3px solid #212121;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusPokemonCard span {
  color: #4b4b4b;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
